{:paths ["src"]
 :deps {io.github.borkdude/quickdoc {:git/url "https://github.com/borkdude/quickdoc"
                                     :git/sha "a94ab9d46b0e5f787096b49a653b39e9ed3fd47a"}}
 :tasks
 {quickdoc {:exec-args {:github/repo "https://github.com/borkdude/lein2deps"
                        :git/branch "main"
                        :source-paths ["src/lein2deps/api.clj"]}
            :task (exec 'quickdoc.api/quickdoc)}
  test:clj (clojure "-X:test")
  test:bb  {:requires ([lein2deps.api-test])
            :extra-paths ["test"]
            :task (let [{:keys [fail error]}
                        (clojure.test/run-tests 'lein2deps.api-test)]
                    (when (pos? (+ fail error))
                      (throw (ex-info "Tests failed" {:babashka/exit 1}))))}}}
